
$heading-1:100px;

$heading-2:48px;
$heading-3:24px;

$p-lg:20px;
$p-md:16px;
$p-sm:14px;








$gren-clor:#3B823E;


$primary-color:#ffff;
$secondary-color:#000;




$primary-font:"Unna", serif;
$secondary-font:"Open Sans", sans-serif;